:root {
    /* Primary Colors */
    --primary-nutmeg: hsl(14, 45%, 36%);
    --primary-dark-raspberry: hsl(332, 51%, 32%);
  
    /* Neutral Colors */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-rose-white: hsl(330, 100%, 98%);
    --neutral-eggshell: hsl(30, 54%, 90%);
    --neutral-light-grey: hsl(30, 18%, 87%);
    --neutral-wenge-brown: hsl(30, 10%, 34%);
    --neutral-dark-charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--neutral-eggshell);
}

.recipie-container{
    background-color: white;
    border-radius: 20px;
    background-color: var(--neutral-white);
}

p, li, td {
    font-size: 16;
    font-family: "Outfit", sans-serif;
    color: var(--neutral-wenge-brown);
    line-height: 1.75;
}

h2 {
    color: var(--primary-nutmeg);
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h1 {
    color: var(--neutral-dark-charcoal);
}

.recipie-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
}

.recipe-card {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 15px;
}

#image-omelette {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.small-bullets {
    list-style-type: square;
}

ul.small-bullets li::marker {
    font-size: 0.7em;
    line-height: 0.1;
}

.spaced-bullets li {
    padding-left: 20px;
}

.preparation-time-card {
    background-color: var(--neutral-rose-white);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.preparation-time-card > h2 {
    font-family: "Outfit", sans-serif;
    color: var(--primary-dark-raspberry);
    font-weight: 600;
}

hr {
    border: none; /* Reset default border */
    border-top: 1px solid var(--neutral-light-grey); /* Set top border only */
}


/*
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>; 400, 600, 700
  font-style: normal;
}

*/