:root {
    /* Primary Colors */
    --primary-nutmeg: hsl(14, 45%, 36%);
    --primary-dark-raspberry: hsl(332, 51%, 32%);
  
    /* Neutral Colors */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-rose-white: hsl(330, 100%, 98%);
    --neutral-eggshell: hsl(30, 54%, 90%);
    --neutral-light-grey: hsl(30, 18%, 87%);
    --neutral-wenge-brown: hsl(30, 10%, 34%);
    --neutral-dark-charcoal: hsl(24, 5%, 18%);
  }

p, li, td {
    font-size: 16;
    font-family: "Outfit", sans-serif;
    color: var(--neutral-wenge-brown);
}

h2 {
    color: var(--primary-nutmeg);
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

/*
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/